.box {
  background: #fff;
  border-style: groove;
  border-color: #c13f50; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; }

.texto {
  color: #000; }

ul {
  list-style: none; }

.contenidoPost {
  background-color: #a59d9e; }
